.App {
  text-align: center;
}
body, html {
  height: 100%;
  /*background-color: grey;*/
}
/*.container {
  display: table;
}*/
/*html, body, div {height:100%;}*/
.Spinner {
  display: flex;
  justify-content: center;
  opacity: 0.7;
}
.cloudIcon {
  font-size: 5rem;
}
.weatherForm {
  /*opacity: 0.6;*/
  background: rgba(58, 63, 68, 0.6);
}
.transparentButton {
  background: rgba(58, 63, 68, 0.6);
  /*background: rgba(200,200,200, 0.6);*/
}

.tempText {
  font-family: 'Playfair Display', serif;
  justify-content: center;
}

.bolder {
  font-weight: bold;
  color: white;
}
.navApp {
  /*opacity: 0.6;*/
  justify-content: space-around;
  align-content: center;
  /*background: rgba(20%, 24%, 35%, 1);*/
  background: #404853;
  /*background: darkgrey;*/
  padding-bottom: 0;
  margin-bottom: 1rem;
}

.test {
  background-image: url("../../public/weather1UX.png");
  background-repeat: repeat-y;
  background-size: center;
}
.container .full{
  height: 100vh;
}

.inputButton {
  padding-top: 0;
margin-top: 0;
  justify-content: center;
  vertical-align: middle;
  align-content: center;
  align-self: center;
  padding-bottom: 3rem;
}

.navLinks {
  margin-left: 1rem;
  font-size: 1.75rem;
}

/*html,body,.container {
    height:100%;
}
.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    /*box-sizing: border-box;
}

.row {
    height: 100%;
    display: table-row;
}

.row .no-float {
  display: table-cell;
  float: none;
}*/
